[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "hexo-theme-Journal"]
	path = hexo-theme-Journal
	url = https://github.com/sumimakito/hexo-theme-Journal.git
[submodule "themes/chalk"]
	path = themes/chalk
	url = https://github.com/ph-ph/chalk.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
